@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
/* @import './base.css'; */
@import "tailwindcss";

/* @theme {
  --breakpoint-3xl: 120rem;
} */

@layer utilities {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-border) var(--color-background);
}

.thin-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  border-radius: 4px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background-color: var(--color-background);
}

#app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  overflow-y: hidden;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.text-zendots {
  font-family: "Zen Dots", sans-serif;
  font-style: normal;
}

.text-luckiest {
  font-family: "Luckiest Guy", cursive;
  font-style: normal;
}

.text-boogaloo {
  font-family: "Boogaloo", sans-serif;
  font-style: normal;
}

.text-arial {
  font-family: "Arial", sans-serif;
  font-style: normal;
}

.text-2xs {
  font-size: .6rem;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Poly iPhone */

@font-face {
  font-family: "SF Pro";
  src: url("./fonts/sf-pro/SF-Pro.ttf");
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("./fonts/sf-pro/SF-Pro-Rounded-Regular.otf");
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./fonts/sf-pro/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./fonts/sf-pro/SF-Pro-Text-Ultralight.otf");
  font-weight: 100;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./fonts/sf-pro/SF-Pro-Text-Thin.otf");
  font-weight: 200;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./fonts/sf-pro/SF-Pro-Text-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./fonts/sf-pro/SF-Pro-Text-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./fonts/sf-pro/SF-Pro-Text-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./fonts/sf-pro/SF-Pro-Text-Semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./fonts/sf-pro/SF-Pro-Text-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./fonts/sf-pro/SF-Pro-Text-Heavy.otf");
  font-weight: 800;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./fonts/sf-pro/SF-Pro-Text-Black.otf");
  font-weight: 900;
}

@theme {
  --container-4xs: 14rem;
  --container-5xs: 12rem;
  --container-6xs: 10rem;
  --container-7xs: 8rem;
  --container-8xs: 6rem;
}

.text-sfpro {
  font-family: "SF Pro";
}

.text-sfpro-rounded {
  font-family: "SF Pro Rounded";
}

.text-sfpro-display {
  font-family: "SF Pro Display";
}

.text-sfpro-text {
  font-family: "SF Pro Display";
}